In [1]:
import pandas as pd

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    'Name of company': ['Allied Signal', 'Bankers Trust', 'General Mills', 'ITT Industries',
                         'J.P.Morgan & Co.', 'Lehman Brothers', 'Marriott', 'MCI',
                         'Merrill Lynch', 'Microsoft', 'Morgan Stanley', 'Sun Microsystems',
                         'Travelers', 'US Airways', 'Warner-Lambert'],
    'Measure X': [24.23, 25.53, 25.41, 24.14, 29.62, 28.25, 25.81, 24.39, 40.26, 32.95, 91.36, 25.99, 39.42, 26.71, 35.00]
}

df = pd.DataFrame(data)

In [8]:
df

     Name of company  Measure X
0      Allied Signal      24.23
1      Bankers Trust      25.53
2      General Mills      25.41
3     ITT Industries      24.14
4   J.P.Morgan & Co.      29.62
5    Lehman Brothers      28.25
6           Marriott      25.81
7                MCI      24.39
8      Merrill Lynch      40.26
9          Microsoft      32.95
10    Morgan Stanley      91.36
11  Sun Microsystems      25.99
12         Travelers      39.42
13        US Airways      26.71
14    Warner-Lambert      35.00