In [2]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [3]:
s = input()

In [8]:
for i in range(ord("A"),ord("Z")):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [9]:
import pandas as pd
import numpy as np

In [15]:
arr = np.random.rand(10)

In [19]:
arr

array([0.14297751, 0.55490167, 0.92668139, 0.32858875, 0.27020353,
       0.79962379, 0.82170148, 0.52362881, 0.97279765, 0.19079377])

### Lets create a Dataframe using np and pandas.

By the way the markup and code has shortcuts as M and Y that you can interchange by just using them when the whole code cell is selected.

#### Lets first create some pandas series

Checking the ways to create and manipulate the pandas series.

In [21]:

check_arr = pd.Series(range(10))

In [23]:
check_arr

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Now lets just create a pandas series with some random numbers using np.random.rand() funciton

In [25]:
check_series = pd.Series(np.random.rand(10))

In [27]:
check_series

0    0.637242
1    0.428537
2    0.537003
3    0.836552
4    0.133525
5    0.782316
6    0.521064
7    0.268087
8    0.611311
9    0.945539
dtype: float64

Lets try and change the values order to greater than 1 because right now most of the values are just less than 1.

If you want to generate a pandas Series with random integers using NumPy, you can use np.random.randint(). Here's an example:

```python
import pandas as pd
import numpy as np

# Generate a pandas Series with 10 random integers between a specified range
random_integers = pd.Series(np.random.randint(1, 100, 10))

print(random_integers)
```
Here's the breakdown of the arguments:

1: The lower bound (inclusive) of the random integers.

100: The upper bound (exclusive) of the random integers.

10: The number of random integers to generate.

So, in this case, it generates an array of 10 random integers between 1 and 99 (inclusive). If you want a different number of random integers, you can change the 10 to your desired size.

In [31]:
# Lets just create a random number series of 10 numbers from 1 to 10
int_arr = pd.Series(np.random.randint(1,100,10))

In [33]:
int_arr

0    49
1    94
2    51
3    85
4    82
5    70
6    86
7    29
8    35
9    15
dtype: int64

Lets create a DataFrame. Notice the camelcase.

In [35]:
df = pd.DataFrame(np.random.rand(10,5))

In [37]:
df

          0         1         2         3         4
0  0.631230  0.057129  0.350641  0.591068  0.715050
1  0.278867  0.540456  0.515308  0.330431  0.393848
2  0.744524  0.443568  0.277683  0.834251  0.362537
3  0.943919  0.574745  0.773337  0.019115  0.100282
4  0.164635  0.966834  0.346525  0.165385  0.744407
5  0.926555  0.575955  0.956713  0.281303  0.233874
6  0.791960  0.709589  0.471464  0.498439  0.650290
7  0.287894  0.044054  0.944161  0.135973  0.700443
8  0.868488  0.688508  0.268326  0.410258  0.110469
9  0.401630  0.019881  0.185823  0.343075  0.302092

In [39]:
df.columns = list("ABCDE")

In [41]:
df

          A         B         C         D         E
0  0.631230  0.057129  0.350641  0.591068  0.715050
1  0.278867  0.540456  0.515308  0.330431  0.393848
2  0.744524  0.443568  0.277683  0.834251  0.362537
3  0.943919  0.574745  0.773337  0.019115  0.100282
4  0.164635  0.966834  0.346525  0.165385  0.744407
5  0.926555  0.575955  0.956713  0.281303  0.233874
6  0.791960  0.709589  0.471464  0.498439  0.650290
7  0.287894  0.044054  0.944161  0.135973  0.700443
8  0.868488  0.688508  0.268326  0.410258  0.110469
9  0.401630  0.019881  0.185823  0.343075  0.302092

In [43]:
df["A"][0] = 32

In [45]:
df

           A         B         C         D         E
0  32.000000  0.057129  0.350641  0.591068  0.715050
1   0.278867  0.540456  0.515308  0.330431  0.393848
2   0.744524  0.443568  0.277683  0.834251  0.362537
3   0.943919  0.574745  0.773337  0.019115  0.100282
4   0.164635  0.966834  0.346525  0.165385  0.744407
5   0.926555  0.575955  0.956713  0.281303  0.233874
6   0.791960  0.709589  0.471464  0.498439  0.650290
7   0.287894  0.044054  0.944161  0.135973  0.700443
8   0.868488  0.688508  0.268326  0.410258  0.110469
9   0.401630  0.019881  0.185823  0.343075  0.302092

In [56]:
df.columns = list("SAPEK")

In [69]:
df["S"][0] = 0.2312313123

In [76]:
df_nan = df[df[["S","A","P","E","K"]] > 0.4]

In [81]:
df_nan.isna().sum()[df_nan.isna().any()]

S    4
A    3
P    5
E    6
K    6
dtype: int64

In [86]:
column_names = list("ABCDEFGH")
df2 = pd.DataFrame(np.random.randint(1,100,(10,len(column_names))),columns= column_names)

In [87]:
df2

    A   B   C   D   E   F   G   H
0  86  49  42   8  72  71  28  56
1   9  95   4  71  64  48  31  57
2  91   8  75  26  78  49  30   5
3  60  63  37   8  79  23  35  78
4  18  10  65  74  72  62  77  29
5  88  49  79  26  80  88  91  69
6  51  82  41  48  28  36  40  43
7  65  27  60  36  48  65  58   8
8  29   6  77  96  24   2  85  92
9  69  16  67  88  20  42   6  89