In [2]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [3]:
s = input()

In [4]:
for i in range(ord("A"),ord("Z")):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [5]:
import pandas as pd
import numpy as np

In [6]:
arr = np.random.rand(10)

In [7]:
arr

array([0.73638107, 0.14415087, 0.51229549, 0.17685043, 0.15619542,
       0.48686318, 0.00290187, 0.67294303, 0.5357252 , 0.1562734 ])

### Lets create a Dataframe using np and pandas.

By the way the markup and code has shortcuts as M and Y that you can interchange by just using them when the whole code cell is selected.

#### Lets first create some pandas series

Checking the ways to create and manipulate the pandas series.

In [8]:

check_arr = pd.Series(range(10))

In [9]:
check_arr

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Now lets just create a pandas series with some random numbers using np.random.rand() funciton

In [10]:
check_series = pd.Series(np.random.rand(10))

In [11]:
check_series

0    0.456350
1    0.456431
2    0.592317
3    0.294683
4    0.657482
5    0.724862
6    0.119145
7    0.682039
8    0.245930
9    0.128786
dtype: float64

Lets try and change the values order to greater than 1 because right now most of the values are just less than 1.

If you want to generate a pandas Series with random integers using NumPy, you can use np.random.randint(). Here's an example:

```python
import pandas as pd
import numpy as np

# Generate a pandas Series with 10 random integers between a specified range
random_integers = pd.Series(np.random.randint(1, 100, 10))

print(random_integers)
```
Here's the breakdown of the arguments:

1: The lower bound (inclusive) of the random integers.

100: The upper bound (exclusive) of the random integers.

10: The number of random integers to generate.

So, in this case, it generates an array of 10 random integers between 1 and 99 (inclusive). If you want a different number of random integers, you can change the 10 to your desired size.

In [12]:
# Lets just create a random number series of 10 numbers from 1 to 10
int_arr = pd.Series(np.random.randint(1,100,10))

In [13]:
int_arr

0    19
1    23
2    31
3    24
4    53
5     7
6    31
7    26
8    10
9     6
dtype: int64

Lets create a DataFrame. Notice the camelcase.

In [14]:
df = pd.DataFrame(np.random.rand(10,5))

In [15]:
df

          0         1         2         3         4
0  0.141105  0.130891  0.509369  0.136445  0.722769
1  0.607628  0.134065  0.724415  0.449159  0.637639
2  0.360570  0.075265  0.504686  0.698314  0.308421
3  0.094024  0.314987  0.646129  0.462123  0.296827
4  0.104408  0.838501  0.674319  0.385195  0.234988
5  0.179697  0.911814  0.014826  0.815827  0.615458
6  0.291339  0.411966  0.720349  0.430866  0.601203
7  0.712620  0.247945  0.069051  0.325165  0.303177
8  0.588716  0.977426  0.223147  0.957699  0.400417
9  0.827807  0.058257  0.864668  0.058263  0.637532

In [16]:
df.columns = list("ABCDE")

In [17]:
df

          A         B         C         D         E
0  0.141105  0.130891  0.509369  0.136445  0.722769
1  0.607628  0.134065  0.724415  0.449159  0.637639
2  0.360570  0.075265  0.504686  0.698314  0.308421
3  0.094024  0.314987  0.646129  0.462123  0.296827
4  0.104408  0.838501  0.674319  0.385195  0.234988
5  0.179697  0.911814  0.014826  0.815827  0.615458
6  0.291339  0.411966  0.720349  0.430866  0.601203
7  0.712620  0.247945  0.069051  0.325165  0.303177
8  0.588716  0.977426  0.223147  0.957699  0.400417
9  0.827807  0.058257  0.864668  0.058263  0.637532

In [18]:
df["A"][0] = 32

In [19]:
df

           A         B         C         D         E
0  32.000000  0.130891  0.509369  0.136445  0.722769
1   0.607628  0.134065  0.724415  0.449159  0.637639
2   0.360570  0.075265  0.504686  0.698314  0.308421
3   0.094024  0.314987  0.646129  0.462123  0.296827
4   0.104408  0.838501  0.674319  0.385195  0.234988
5   0.179697  0.911814  0.014826  0.815827  0.615458
6   0.291339  0.411966  0.720349  0.430866  0.601203
7   0.712620  0.247945  0.069051  0.325165  0.303177
8   0.588716  0.977426  0.223147  0.957699  0.400417
9   0.827807  0.058257  0.864668  0.058263  0.637532

In [20]:
df.columns = list("SAPEK")

In [21]:
df["S"][0] = 0.2312313123

In [22]:
df_nan = df[df[["S","A","P","E","K"]] > 0.4]

In [23]:
df_nan.isna().sum()[df_nan.isna().any()]

S    6
A    6
P    3
E    4
K    4
dtype: int64

In [24]:
column_names = list("ABCDEFGH")
df2 = pd.DataFrame(np.random.randint(1,100,(10,len(column_names))),columns= column_names)

In [31]:
type(df2[list("ABCDEFGH")] > 55)
df2_nan = df2[df2[list("ABCDEFGH")] > 55]

In [30]:
df2_nan

      A     B     C     D     E     F     G     H
0   NaN   NaN   NaN  58.0   NaN  66.0  65.0   NaN
1  64.0  80.0   NaN  81.0   NaN  83.0  84.0  91.0
2  71.0  91.0   NaN   NaN  91.0  81.0   NaN   NaN
3   NaN   NaN  58.0  92.0   NaN  90.0  95.0   NaN
4  65.0   NaN   NaN  84.0   NaN   NaN  80.0   NaN
5   NaN   NaN   NaN   NaN  58.0  94.0  94.0  56.0
6   NaN  92.0  85.0  95.0  81.0  90.0   NaN   NaN
7  84.0   NaN   NaN   NaN   NaN  78.0   NaN   NaN
8   NaN  89.0   NaN   NaN  61.0   NaN  97.0   NaN
9   NaN  63.0   NaN   NaN  78.0   NaN  84.0   NaN

Best way to imagine how a DataFrame is created.

In [32]:
# Sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

In [33]:
df

   A  B
0  1  4
1  2  5
2  3  6