In [4]:
x = 2
# x = "2"

In [6]:
type(x)

int

In [8]:
print(2)

2

In [10]:
print("2")

2

In [12]:
print("hello")

hello

In [13]:
b="hello"

In [16]:
type(b)

str

In [17]:
anmol="chinu"

In [18]:
print(anmol)

chinu

In [19]:
2+3

5

In [23]:
x = 250+250

In [24]:
print(x)

500

In [25]:
print(500/2)

250.0

In [26]:
type(500/2)

float

In [43]:
# for i in range(1,101):
    # print(i)

In [62]:
def gonu(a,b):
    return a+b

In [72]:
# fuggly = "Sapeksh" + " Tomar"

In [73]:
# fuggly

'Sapeksh Tomar'

In [74]:
def multiplier(d,c):
    return d*c

In [79]:
x = "5"
NO = "sapkesh"
if x == "5":
    print("Yes")
else:
    print(NO)

Yes

In [52]:
gg = "Damn"

In [58]:

# print(anmol +" "+ gg)

In [33]:
for b in range(1,11):
    print("a")

a
a
a
a
a
a
a
a
a
a

In [2]:
x = 2

In [4]:
print(x)

2

In [7]:
anmoj = 3

In [13]:
x = 3

In [15]:
x = 4

In [34]:
b = "5"

In [39]:
b = "5"

In [40]:
type(b)

str

In [37]:
type(b)

int

In [27]:
string_value = "Sapeksh is 50"

In [29]:
type(x)

int

In [41]:
x = 2+3

In [81]:
def joining(a,b,c):
    return a+b+c

In [84]:
joining("Sapeksh ","is"," here")

'Sapeksh is here'

In [102]:
for f in range(5,56):
    print(f)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [124]:
random_list = [0,4,"Sapeksh",4.6]

In [126]:
type(random_list)

list

In [131]:
# "Sapeksh" in random_list
    # print(k)

In [139]:
a="anmol"

In [136]:
print(a)

sapesh is 'here'

In [141]:
)

SyntaxError: unmatched ')' (687023194.py, line 1)

In [142]:
sap="5"

In [144]:
if sap=="5":
    print("Yes i won")
else:
    print("No i am wrong")

Yes i won

In [146]:
tree="Ekansh"
if tree=="tree":
    print("Ekansh")
    print("No")
else:
    print("tomar")

tomar

In [152]:
print("Yes")

Yes

In [159]:
for i in range(0,9):
    print("100")

100
100
100
100
100
100
100
100
100

In [164]:
# abcd = [10,10,10,10,10,10,10,10,10,10]
# print(abcd)
abcd = [10]*10

In [171]:
def printer(a):
    a = a*10
    return a

printer(10)

100

In [177]:
anb = [10]*10
print(anb)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [191]:
for m in range(1,11):
    
    if m==5:
        print("yes")
    else:
        print(m)

1
2
3
4
yes
6
7
8
9
10

In [195]:
Ekansh="tomar"
adf=["tomar"]*10
print(adf)

['tomar', 'tomar', 'tomar', 'tomar', 'tomar', 'tomar', 'tomar', 'tomar', 'tomar', 'tomar']

In [196]:
ekansh=["tomar"]*4

In [197]:
print(ekansh)

['tomar', 'tomar', 'tomar', 'tomar']

In [201]:
ekansh[2]="sapeksh"
print

9

In [208]:
ekansh[3:5]

['a', 'p']

In [210]:
ekansh

['tomar', 'tomar', 'sapeksh', 'a', 'p', 'e', 'k', 's', 'h']

In [214]:
ekansh[6]
# type()

'k'

In [217]:
print(ekansh[6])

k

In [219]:
ekansh[6]="bhas"

In [221]:
ekansh[6]

'bhas'

In [223]:
print(ekansh)

['tomar', 'tomar', 'sapeksh', 'a', 'p', 'e', 'bhas', 's', 'h']

In [225]:
for r in ekansh: 
    print(r)

tomar
tomar
sapeksh
a
p
e
bhas
s
h

In [230]:
def squarer (r):
    r=r*r
    return r    
squarer(25)

625

In [255]:
f = "Sapeksh"

In [256]:
type(f)

str

In [259]:
lit = list("sapeksh")

TypeError: 'list' object is not callable